<% if action_name == "show" %>
  <div id="<%= dom_id content %>" class="flex flex-col gap-2 p-4 border rounded-lg shadow-sm bg-white">
    <div class="flex flex-col gap-1">
      <h4 class="text-2xl font-semibold text-gray-800">  <%= content.title %></h4>
      <p class="text-lg font-bold text-gray-900"><%= content.description %></p>
      <p class="text-lg  text-gray-800"> <span class="font-semibold">Autore:</span>
        autore_id: <%= content.user_id %>
        <%= User.find(content.user_id).email_address %>
      </p>
      <p class="text-gray-600">id_content: <%= content.id %></p>
    </div>
    <div class="flex  gap-1">
      <h4 class="text-lg text-gray-800">
        <%= I18n.l(content.publication_date, format: :long) if content.publication_date %>
      </h4>
    </div>
    <div class="flex  gap-1">
      <h4 class="text-lg text-gray-800">
        <span class="font-semibold">Visibilità:</span>
        <%= content.visibility %>
      </h4>
    </div>
    <% if content.visibility != "privato" %>
      <div class="flex flex-col gap-1">
        <h4 class="text-lg font-semibold text-gray-800">
          <span class="font-semibold">Stato:</span>
          <%= content.stato %>
        </h4>
      </div>
    <% end %>
    <div class="flex flex-col gap-1">
      <p style="color:<%= content.published ? 'green' : 'red' %>;"><%= content.published ? 'Plubblicato' : 'Non pubblicato' %></p>
    </div>
  </div>
  <% if embed_url(content).present? %>
    <div class="video-container">
      <iframe src="<%= embed_url(content) %>"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
      </iframe>
    </div>
  <% elsif content.image.present? %>
    <img src="<%= content.image %>" alt="<%= content.title %>" class="w-full h-auto rounded-lg mt-4 mb-4" />
  <% end %>
  <div class="flex flex-col gap-2 p-4 border rounded-lg shadow-sm bg-white">
    <div class="flex flex-col gap-2 prose body text-gray-800">
      <%= rendered_body(content.body) if content.body  %>
    </div>
  </div>
<% else %>
  <tr>
    <!--td>
      <%= link_to content do %>
        <%= image_tag 'unsplash-1.webp', style: "width: 100px; height: 50px; object-fit: cover;" %>
      <% end%>
    </td-->
    <td><%= link_to content do %>
        <b><%= content.title %></b>
        <br>
        <%= content.description %>
      <% end%>
    </td>
    <td><%= content.publication_date.strftime("%d/%m/%Y %H:%M") if content.publication_date %></td>
    <td><%= content.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
    <td><%= content.visibility %></td>
    <% if content.visibility != "privato" %>
      <td><%= content.stato %></td>
    <% end %>
  </tr>
<% end %>
