<% content_for :title, "Contents" %>
<div class="flex items-center justify-between mbe-4">
  <div class="group" role="group" aria-label="Navigazione eventi">
    <%= link_to "Contenuti", contents_path, class: "btn btn--#{btn("contents", controller_name).html_safe}" %>
    <%= link_to "Dashboard", dashboard_path_for(:all), class: "btn btn--#{btn("dashboard", controller_name).html_safe}" %>
  </div>
</div>
<div class="overflow-x-hidden">
  <table class="table" id="contents">
    <caption>
      A list of content.
    </caption>
    <thead>
      <%= render 'contents/nav_table' %>
      <tr>
        <!--td style="width: 105px;"-->
        <td>Title</td>
        <td>Pubblicazione</td>
        <td>Visibility</td>
        <td>Stato</td>
      </tr>
    </thead>
    <tbody>
      <% @contents.each do |content| %>
        <%= render content %>
      <% end %>
    </tbody>
    <!--tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td class="text-end">$2,500.00</td>
    </tr>
  <tfoot-->
  </table>
</div>
<%= render 'contents/pagy' %>