<% if @content.publication_date.present? %>
  <% if @content.publication_date <= Time.current && @content.visibility == "pubblico" %>
    <div class="flex  items-start gap-half mbe-4">
      <%= link_to 'Vai alla nota pubblica', profile_post_path(@content.user.username, @content), class:"btn btn--primary" %>
      <div class="input input--actor flex items-center gap" data-controller="copyable-input">
        <%= text_field_tag "copyable_input", "#{request.base_url}#{profile_post_path(@content.user.username, @content)}", readonly: "readonly", data: { copyable_input_target: "input" } %>
        <button type="button" class="btn btn--plain" data-copyable-input-target="button" data-action="copyable-input#copy">
          <%= image_tag "copy.svg", size: 20, aria: { hidden: true } %>
          <span class="sr-only">Copy to clipboard</span>
        </button>
      </div>
    </div>
  <% end %>
<% end %>
<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "<-", contents_path, class: "btn" %>
  <%= link_to "Edit this content", edit_content_path(@content), class: "btn", data: { turbo: false } %>
  <%= button_to "Destroy this content", @content, method: :delete, class: "btn", data: { turbo_confirm: "Are you sure?" } %>
</div>
<%= render @content %>
