<div class="flex flex-col gap-1">
  <%= link_to  profile_posts_path(User.find(@post.user_id).username) do %>
    <p class="text-lg  text-gray-800 p-4"> <span class="font-semibold">Autore:</span>
      @<%= User.find(@post.user_id).username %>
      <br>
      <%= I18n.l(@post.publication_date, format: :long) if @post.publication_date %>
      <%= @post.publication_date.in_time_zone.strftime("%Z")%>
    </p>
  <% end %>
  <% if authenticated?  %>
    <% if Current.user.id == @post.user.id %>
      <%= link_to "Mostra contenuto", content_path(@post), class: "btn", data: { turbo: false } %>
    <% end %>
  <% end %>
</div>
<% if embed_url(@post).present? %>
  <div class="video-container">
    <iframe src="<%= embed_url(@post) %>"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>
<% elsif content.image.present? %>
  <img src="<%= content.image %>" alt="<%= content.title %>" class="w-full h-auto rounded-lg mt-4 mb-4" />
<% end %>
<div class="flex flex-col gap-2 prose text-gray-800">
  <%= rendered_body(@post.body) if @post.body  %>
</div>
