<div class="flex items-center gap">
  <%= link_to contents_path, class: "flex items-center gap mie-2" do %>
    <%= image_tag "circle-slash.svg", size: 24, aria: { hidden: true } %>
    <span class="font-bold">Flow Pulse</span>
  <% end %>
  <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
    <% if 0 == 1 %>
      <%= link_to "Dashboard", contents_path, class: "text-primary" %>
    <% end %>
  </nav>
</div>
<div class="flex items-center gap">
  <%= link_to contents_path, class: "btn avatar" do %>
    <%= image_tag "cartoon.jpg", size: 48, alt: "CN" %>
  <% end %>
</div>